<section id="contact" class="contact">
    <div class="container">
        <h2>Get In Touch</h2>
        <div class="social-links">
            <a href="https://github.com/rohitdavas" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/rohitdavas" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="resume-links">
            <a href="resume/Rohit_Kumar_Resume_1_page_Industry_20082024.pdf" class="cta-button" target="_blank">1-Page Resume</a>
            <a href="resume/Rohit_Kumar_Resume_2_page_18082024.pdf" class="cta-button" target="_blank">2-Page Resume</a>
        </div>
    </div>
</section>
