<section id="home" class="hero">
    <div class="hero-content">
        <h1>Rohit Kumar</h1>
        <p>AI Engineer | Deep Learning Engineer | Computer Vision </p>
        <div class="profile-card">
            <div class="profile-card-inner">
                <div class="profile-card-front">
                    <img src="images/rohit-in-berlin.jpg" alt="Rohit Kumar">
                </div>
                <div class="profile-card-back">
                    <img src="images/coder.png" alt="Code Sample">
                </div>
            </div>
        </div>
        <a href="#about" class="cta-button">Learn More</a>
    </div>
</section>
